body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
};

.top-bar {
    position: relative;
    top: 0px;
    font-size: 40px;
    display: flex;
    background-color: black;
};

